{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container">
        <h2>Результаты расчета</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>count ip</th>
                <th>in traffic (Gb)</th>
                <th>out traffic (Gb)</th>
                <th>id</th>
            </tr>
            </thead>
            <tbody>
            {% for agent in agents %}
            <tr>
                <td>{{agent.count_ip}}</td>
                <td>{{agent.sum_in}}</td>
                <td>{{agent.sum_out}}</td>
                <td>{{agent.id}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
