{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container">
        <h2>Результаты расчета для IP - адреса: {{ip}}</h2>
        <h3>c {{first_date}} по {{last_date}}</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>login</th>
                <th>current shape</th>
                <th>in traffic (Gb)</th>
                <th>out traffic (Gb)</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
            <tr>
                <td>{{row.id_0}}</td>
                <td>{{row.id_1}}</td>
                <td>{{row.id_2}}</td>
                <td>{{row.id_3}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
